<%- include('./partials/header') %>

<p>Welcome to <%= title %></p>
<section id="Questions">
    <h1>What is Life-Catch-Up App?</h1>
    <p>The Life-Catch-Up App is an app dedicated to those who feel the need to catch up on non SEI things in their life after SEI. 
            Whether it's wanting to watch a movie, catch up on a chore, etc. The Life-Catch-Up App helps remind you 
            to pursue all your non SEI chores or hobbies!
    </p>
    <h1>Can Anyone Use It?</h1>
    <p>The Life-Catch-Up app is free for everyone, the only people using it will be a tightly knit group of developers, so it goes on
        the honors system. Anyone can create a task, update one, delete one, or add a rating to one. The main task board displays all
        tasks added by anyone, if you see a task you like and would like to join in on, feel free to add your name to the task! If you
        see a task that you have already done, feel free to leave a rating. If you don't enter a name on the rating it will default to
        anonymous. 
    </p>
    <h1>How Do I Get Started?</h1>
    <p>At the top of the page, there are 4 links you can click; New Task lets you create a new task of your own, All Tasks lets you view
        the community board of tasks, Hobbies lets you sort the community board to only show tasks labeled as a hobby or recreation, and
        Chores lets you sort the community board to only show tasks labeled as a chore. You can also click on the details link of each
        task to view more information about that task, as well as leave a rating of your own if you have done that task before.
    </p>
    <h1>Who created this app?</h1>
    <p>The two co-creaters are developers known as Kevin Decker and Alexander Mrak, who coded this app in Javascript using MERN (minus the R)
    </p>
</section>

<%- include('./partials/footer') %>
