* {
  box-sizing: border-box;
  font-family: Helvetica;
}

body {
  margin: 0;
  height: 100vh;
  padding: 20px;
  font: 14px Helvetica;
}

body > nav {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  background-color: rgb(199, 199, 199);
  padding: 5px 10px;
  border-radius: 5px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
}

a {
  color: #0077ff;
}

#main {
  padding: 10px;
  display: flex;
  flex-direction: column;
  
  grid-template-columns: auto auto;
  background-color: lightgray;
  border-radius: 5px;
  border: 5px solid;
}

.all-tasks-cards {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

section > * {
  padding: 5px;
}

label {
  font-weight: bolder;
}
