* {
  box-sizing: border-box;
  font-family: Helvetica;
}

body {
  margin: 0;
  height: 100vh;
  padding: 20px;
}

body > nav {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  background-color: rgb(199, 199, 199);
  padding: 5px 10px;
  border-radius: 5px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
}

a {
  color: #0077ff;
}

#all-cards {
  padding: 10px;
  display: flex;
  flex-direction: column;
  grid-template-columns: auto auto;
  background-color: lightgray;
  border-radius: 5px;
  border: 5px solid;
  margin: 0px 0px 15px 0px;
}

#add-rating {
  padding: 10px;
  display: flex;
  grid-template-columns: auto auto;
  background-color: lightgray;
  border-radius: 5px;
  border: 5px solid;
  margin: 0px 0px 15px 0px;
}

#add-rating > * {
  margin: 5px;
}

.card-row-rating {
  padding: 10px 5px 0px 5px;
  font-style: oblique;
  font-size: x-large;
  text-decoration: underline;
}

.ratings {
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 5px 5px 5px;
}

.card-row {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#new-task-input {
  padding: 10px;
  display: flex;
  flex-direction: column;
  grid-template-columns: auto auto;
  background-color: lightgray;
  border-radius: 5px;
  border: 5px solid;
  margin: 0px 0px 15px 0px;
}

#new-task-input > label {
  display: flex;
  justify-content: center;
}

section > * {
  padding: 5px;
}

label {
  font-weight: bolder;
}

#Questions {
  background-color: lightgray;
  text-align: center;
  margin: 15px;
  padding: 5px;
  border-radius: 5px;
  border: 5px solid;
}