<%- include('../partials/header2') %>

<form action="/tasks/<%= task._id %>/newPerson?_method=PUT" method="POST">
  <section id="add-rating">
    <label>New Person:</label>
    <input type="text" name="people" placeholder="Enter Your Name" />
    <input type="submit" value="ADD PERSON" required />
  </section>
</form>

<%- include('../partials/footer') %>
