<%- include('../partials/header2') %>

<form action="/tasks/<%= task._id %>/rating?_method=PUT" method="POST">
  <section id="add-rating">
    <label>Rating:</label>
    <input type="text" name="person" placeholder="Enter Your Name" />
    <input type="number" name="rating" min="1" max="5" required />
    <input type="submit" value="Add Rating" />
  </section>
</form>

<%- include('../partials/footer') %>
