<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/tasks/<%= task._id %>/rating?_method=PUT" method="POST">
      <label>Rating:</label>
      <input type="number" name="ratings" min="1" max="5" />
      <input type="submit" value="Add Rating"/>
    </form>
  </body>
</html>
